<div class="timeline-comment">
    <div class="timeline-comment-header">
        <img src="/images/Lobo.png" alt="" />
        <p>{{name.first}} {{name.last}} <small>echoed on {{time}}</small></p>
    </div>
    <p class="timeline-comment-text">
        {{text}}
    </p>
</div>