<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Okami Link</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
    <header>
        <a href="/" id="logo">Okami<br>Link</a>
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/link">Join/Login</a></li>
        </ul>
    </header>
    <section>
        <img src="/images/stars.png" id="stars">
        <img src="/images/moon.png" id="moon">
        <img src="/images/mountains_behind.png" id="mountains_behind">

        <div class="container">
            <h2 id="text"></h2><span class="cursor">&nbsp;</span>
        </div>

        <a href="/link" id="main_btn">Join the Pack</a>
        <img src="/images/mountains_front.png" id="mountains_front">
    </section>
    <div class="about">
        <h2>HEAR. HOWL. HUNT.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lorem vitae augue aliquet elementum at eget lacus.
            Sed sed erat venenatis, vehicula nisi et, rhoncus neque. Nulla eu enim ac mauris tincidunt consectetur vel sagittis nisi.
            Fusce nibh tortor, eleifend nec enim ac, elementum convallis nulla. Etiam pellentesque, purus in blandit sollicitudin,
            risus eros commodo metus, ac consectetur turpis elit luctus turpis. Aliquam luctus eleifend pulvinar. Nunc congue orci dui,
            lacinia consectetur ex convallis quis.<br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lorem vitae augue aliquet elementum at eget lacus.
            Sed sed erat venenatis, vehicula nisi et, rhoncus neque. Nulla eu enim ac mauris tincidunt consectetur vel sagittis nisi.
            Fusce nibh tortor, eleifend nec enim ac, elementum convallis nulla. Etiam pellentesque, purus in blandit sollicitudin,
            risus eros commodo metus, ac consectetur turpis elit luctus turpis. Aliquam luctus eleifend pulvinar. Nunc congue orci dui,
            lacinia consectetur ex convallis quis.<br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lorem vitae augue aliquet elementum at eget lacus.
            Sed sed erat venenatis, vehicula nisi et, rhoncus neque. Nulla eu enim ac mauris tincidunt consectetur vel sagittis nisi.
            Fusce nibh tortor, eleifend nec enim ac, elementum convallis nulla. Etiam pellentesque, purus in blandit sollicitudin,
            risus eros commodo metus, ac consectetur turpis elit luctus turpis. Aliquam luctus eleifend pulvinar. Nunc congue orci dui,
            lacinia consectetur ex convallis quis.<br><br>
        </p>
    </div>
</body>
</html>
