/* all styles go here */

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

#cyrilx {
    display: flex;
    position: absolute;
    width: 8%;
    align-items: right;
  }

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

header #logo {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Dela Gothic One', cursive;
    line-height: 0.9;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 560;
}

header ul li a:hover,
header ul li a.active {
    background: white;
    color: #2b1055;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon {
    mix-blend-mode: screen;
}

section img#mountains_front {
    z-index: 20;
}

/* All IDs */

#text {
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 5vw;
    font-family: 'Dela Gothic One', cursive;
    line-height: 0.9;
}

#main_btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: white;
    color: rgb(99, 14, 14);
    font-size: 1.2em;
    z-index: 30;
    transform: translateY(200px);
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Dela Gothic One', cursive;
    margin-bottom: 180px;
}

/* All individual classes */

.about {
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.about h2 {
    font-size: 3.5em;
    color: white;
    margin-bottom: 10px;
}

.about p {
    font-size: 1.2em;
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 10;
    position: absolute;
}

.container h2 span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.container h2 span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
}